@import url('https://fonts.googleapis.com/css?family=Cardo|Work+Sans:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext,latin-ext');

.line-end{
    width: 90%;
    margin: 15px auto;
}
.header{
    width: 100%;
    height: 92vh;
    display: flex;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 98%;
    background-position: 39%;
    background-color: #c2c2c2;
    flex-direction: column;
}
.header-content{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-bottom: 5px
}

.header__text{
    color:#fff;
    font-size: 35px;
    font-family: 'Cardo'; 
    font-weight: 100;
    align-self: center;
}
.header-nav{
    width: 100%;
    height: 54px;
    background-color: none;
    display: flex;
    background-color: #c2c2c2;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.header-nav__btn{
    position: absolute;
    right: 0;
    height: 55px;
    width: 90px;
    font-size: 24px;
    background: none;
    outline: none;
    border:none;
    background-color: #c2c2c2;
    display: none;
    cursor: pointer;
}
.header-nav__btn:hover{
    border: 3px solid #929292;
}
.header-nav__btn:active{
    background-color: #a2a2a2;
}
.nav-list{
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav-list__item{
    display: flex;
    height: 100%;
    width: 170px;
    margin: 0px 20px;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.nav-list__item:hover{
        border: 3px solid #a8aaab;
        background-color: #a8aaab;
}
.nav-list__item_style{
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Work Sans';
    height: 100%;
    padding:10px;
}
.galery{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #e6e6e6
}
.galery_header{
    margin-top:50px;
    font-size: 24px;
    font-family: 'Work Sans';
    font-weight: bolder;
}
.line{
    width: 50px;
    border: 2px solid #c2c2c2;
}
.album-conteiner{
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.album{
    width: 311px;
    height: 445px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 50px;
}
.album:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 25px 25px rgba(0,0,0,0.22);
}
.album__img{
    width: 311px;
    height: 223px;
}
.album-info{
    display: flex;
    flex-direction: column;
    height: 223px;
    justify-content: center;
    background-color: #fff;
}
.album__line{
    width: 35px;
    border: 1.5px solid #c2c2c2;
    margin-bottom: 20px;
}
.album__header{
    display: flex;
    align-self: center;
    font-family: 'Work Sans', 'Roboto';
}
.album__text{
    width: 240px;
    font-family: 'Work Sans', 'Roboto';
    margin: 0 auto;
}
.galery-contain{
    width: 1100px;
    margin-bottom: 50px;
    display: none;    
}
.img__item{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.img-contain{
    display: flex;
    width: 100%;
    height: 80vh;
    margin: auto;
    justify-content: center
}
.img__item_active{
    object-fit:cover;
    height: 100%;
}
.img-coment{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: #fff;
    padding: 10px;
}
.img__header{
    display: flex;
}
.img__text{
    display: flex
}
.img__btn-close{
    text-align: right;
}
.media-active{
    display: block;
    opacity: 1;
    transition: opacity 1.5s linear 1s;
}
.about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.about__img{
    width:50%;
    object-fit:cover;
    object-position: center;
}

.about-info{
    display: flex;
    width: 50%;
}
.about-info-contain{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: auto;
    justify-content: space-between;
}
.about__btn{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    background-color: none;
    border-radius: 3px;
    margin:10px 0;
}
.about__btn:hover{
    background: #c2c2c2;
    transition: background-color .5s linear;
}
.about__btn:active{
    background: #3f3f3f;
    color:#fff;
}
.about__btn_active{
    background: #3f3f3f;
    color:#fff;
}
.about-info__header{
    margin-top:50px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Work Sans';
}
.about-info__text{
    text-align:justify;
    line-height: 170%;
    color:#525252;
    font-family: 'Work Sans', 'Roboto';
    flex-grow: 1;
}
.about-info__text-rus{
    display: block;
}
.about-info__text-eng{
    display: none;
}
.video{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}
.video__header{
    margin-top: 55px;
    font-size: 24px;
    font-family: 'Work Sans';
    font-weight: black;
}
.video-contain{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}
.video-left{
    width: 100%;
    display: flex;
}
.video-right{
    width: 100%;
    display: flex;
}
.videoFrame{
    width: 50%;
    height: 350px;
}
.video-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
    width: 50%;
    background-color: rgba(0, 0, 0, .8);
}
.video-info__header{
    font-size: 30px;
    font-family: 'Work Sans', 'Roboto';
    font-weight: 500;
    text-align: left;
    padding: 15px 0px 0px 30px;
}
.video-info__text{
    display: inline-flex;
    text-align: left;
    font-family: 'Work Sans', 'Roboto';
    line-height: 160%;
    padding: 0px 70px 0px 30px;
    flex-grow: 1
}
.footer{
    width: 100%;
    height: 180px;
}
.footer-contain{
    display: flex;
    width: 90%;
    height: 90%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 20px auto;
    justify-content: center;
    align-items: center
}
.contain__link{
    width: 60px;
    height: 60px;
    background-image: url(../img/social-icons.png);
    background-size: 250px;
    background-repeat: no-repeat;
    border: 6px solid #000;
    border-radius: 50%;
    outline: none;
}
.contain__link:hover{
    border: 7px solid #c21111;
}
.contain__link-fb{
    background-position: 0px -61px;
}
.contain__link-vk{
    background-position: -79px -75px;
    background-size: 290px;
}
.contain__link-gl{
    
    background-position: -233px -80px;
    background-size: 300px;
}
.contain__link-ins{
    background-position: -157px -80px;
    background-size: 300px;
}
.d-n{
    display: none;
}



