@import url('https://fonts.googleapis.com/css?family=Cardo|Work+Sans:300');


.header{
    width: 100%;
    height: 92vh;
    display: flex;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 98%;
    background-position: 39%;
    background-color: #c2c2c2;
    flex-direction: column;
}
.header-content{
    display: flex;
    flex-direction: column;
}
.header-content{
    margin:auto;
    margin-bottom: 5px
}
.header__text{
    color:#fff;
    font-size: 35px;
    font-family: 'Cardo'; 
    font-weight: 100;
    align-self: center;
}
.header-nav{
    width: 100%;
    height: 8vh;
    background-color: none;
    display: flex;
    background-color: #c2c2c2;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.nav-list{
    height: 10.01vh;
    display: flex;
    justify-content: center;
}
.nav-list__item{
    display: flex;
    height: 8vh;
    width: 170px;
    margin: 0px 20px;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.nav-list__item:hover{
        border: 3px solid #a8aaab;
        background-color: #a8aaab;
}
.nav-list__item_style{
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Work Sans';
}
.galery{
    display: flex;
    flex-direction: column;
    width: 98.78vw;
    height: auto;
    background-color: #e6e6e6
}
.galery_header{
    margin-top:50px;
    font-size: 24px;
}
.line{
    width: 50px;
    border: 2px solid #c2c2c2;
}
.album-conteiner{
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 50px;
    margin-bottom: 60px;
}
.album{
    width: 23vw;
    height: 70vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 50px;
}
.album:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 25px 25px rgba(0,0,0,0.22);
}
.album__img{
    width: 23vw;
    height: 35vh;
}
.album-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    justify-content: center;
    background-color: #fff;
}
.album__line{
    width: 35px;
    border: 1.5px solid #c2c2c2;
    margin-bottom: 20px;
}
.album__header{
    width: 18vw;
    display: flex;
    align-self: center;
}
.galery-contain{
    width: 76.6vw;
    margin-bottom: 50px;
    display: none;    
}
.img__item{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.img-contain{
    display: flex;
    width: 80vw;
    height: 80vh;
    margin: auto;
    justify-content: center
}
.img__item_active{
    width: auto;
    height: 80vh;
}
.img-coment{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: auto;
    background-color: #fff;
}
.img__header{
    display: flex;
}
.img__text{
    display: flex
}
.img__btn-close{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
.media-active{
    display: block;
    opacity: 1;
    transition: opacity 1.5s linear 1s;
}
.about{
    width: 98.78vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.about__img{
    width:50%
}
.about-info{
    display: flex;
    width: 50%;
}
.about-info-contain{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: auto;
    justify-content: space-between;
}
.about__btn{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    background-color: none;
    border-radius: 3px;
    margin:10px 0;
}
.about__btn:hover{
    background: #c2c2c2;
    transition: background-color .5s linear;
}
.about__btn:active{
    background: #3f3f3f;
    color:#fff;
}
.about__btn_active{
    background: #3f3f3f;
    color:#fff;
}
.about-info__header{
    margin-top:50px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Work Sans';
}
.about-info__text{
    text-align:justify;
    line-height: 170%;
    color:#525252;
    font-family: 'Work Sans';
    flex-grow: 1;
}
.about-info__text-rus{
    display: block;
}
.about-info__text-eng{
    display: none;
}
.video{
    width: 98.78vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}
.video__header{
    margin-top: 55px;
    font-size: 24px;
}
.video-contain{
    display: flex;
    width: 98.78vw;
    height: 100%;
    margin: auto
}
.video-left{
    
    width: 50%;
    margin: auto;
}
.video-right{
    
    width: 50%;
    margin: auto;
}





